body {
    font-family: 'Italiana', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #222;
    color: #fff;
   
    font-family: 'Noto Serif Display', serif;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

header:hover {
    background-color: #333;
}
.wcu {
    color: #222;
    text-align: center;
}
.why-choose {
    text-align: center;
    padding: 80px 20px;
    display: flex;/* Add display: flex to arrange items in a row */
    justify-content: space-around; /* Adjust as needed for spacing */
    align-items: center; /* Center items vertically */
    background-image: url('images/indexmustang.jpeg'); /* Replace 'background-image.jpg' with your actual image file */
    background-size: cover;
    background-position: center;
    color: #fff;
}

.why-choose h2 {
    font-size: 2.5em;
    color: #611313;
    margin-bottom: 20px;
}

.choose-box {
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the opacity for the hover effect */

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    flex: 1; /* Distribute the width equally among boxes */
    max-width: 300px; /* Adjust as needed */
    margin: 0 10px; /* Add some space between boxes */
    
}

.choose-box:hover {
    transform: scale(1.05);
}

.choose-box h3 {
    font-size: 1.8em;
    color: #6f0d0d;
    margin-bottom: 10px;
}

.choose-box p {
    font-size: 1.2em;
    color: #3f0707;
}

.why-choose-image {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}



.logo {
    font-size: 2em;

    transition: color 0.3s ease-in-out;
}

.logo:hover {
    color: #ffcc00;
}

.menu-toggle {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.menu-toggle:hover {
    color: #ffcc00;
}


nav {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ffcc00;
}

.home {
    position: relative;
    text-align: center;
    color: #fff;
    overflow: hidden;
    padding-top: 80px;
}

.slideshow-container {
    max-width: 1000px;
    margin: auto;
    position: relative;
}

.fade {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: fade 3s infinite;
}
.fade img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.review-section {
    text-align: center;
    padding: 80px 20px;
}

.review-section h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 30px;
}

.slideshow-container-review {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}



.fade-review {
    display: none;
    text-align: center;
    border: 1px solid #ddd; /* Border for the box */
    padding: 20px; /* Padding inside the box */
    border-radius: 10px; /* Rounded corners for the box */
    background-color: #fff; /* Background color of the box */
}

.fade-review img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.fade-review p {
    font-size: 1.2em;
    color: #555;
}

.fade-review .customer-name {
    font-weight: bold;
    color: #333;
    display: block;
    margin-top: 10px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    color: #fff;
    margin: 0;
}

.footer-content a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer-content a:hover {
    color: #ffcc00;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
.content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.video-container:hover .content-overlay {
    opacity: 1;
}

.content {
    text-align: center;
    color: #fff;
    transition: opacity 0.5s ease-in-out;
}

.content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2em;
    margin-bottom: 30px;
}


.home:hover .content-overlay {
    opacity: 1;
}



.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out;
   display: grid;
   place-items: center;
}

.cta-button:hover {
    background-color: #555;
}

.products {
    text-align: center;
    padding: 80px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.product {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.product img {
    max-width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.product:hover {
    transform: scale(1.05);
}

.product:hover img {
    transform: scale(1.1);
}


/* Responsive Styles for Products Section */
@media screen and (max-width: 768px) {
    .product {
        flex: 0 1 calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .product {
        flex: 0 1 calc(100% - 20px);
    }
}

footer {
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

footer:hover {
    background-color: #444;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-content a {
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.footer-content a:hover {
    color: #ffcc00;
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #222;
        z-index: 999;
    }

    nav.show {
        display: flex;
    }

    nav li {
        margin: 10px;
    }

    .slideshow-container {
        max-width: 100%;
        
    }

    .products {
        padding-top: 20px;
    }

    .product {
        flex: 0 0 100%;
    }
}


.product img,
.slideshow-container img,
video {
    border-radius: 10px;
}

.product,
.fade {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.product:hover,
.fade:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}


.about {
    text-align: center;
    padding: 80px 20px;
}

.about h1 {
    font-size: 2.5em;
    color: #333;
}

.about p {
    font-size: 1.2em;
    color: #555;
    max-width: 800px;
    margin: 0 auto 30px;
}

.about-feature {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.about-feature div {
    flex: 0 0 30%;
}

.about-feature img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}
.contact {
    text-align: center;
    padding: 80px 20px;

    
}
.contact-form-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}
.contact-form {
    max-width: 600px;
    margin: 0 auto;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #606060;
    border-radius: 5px;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.contact-form button:hover {
    background-color: #555;
}





.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}





.connect-section {
    margin-top: 50px;
}

.connect-section h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 15px;
    text-decoration: none;
}

.social-icons img {
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.social-icons a:hover img {
    transform: scale(1.2);
}
.login {
    text-align: center;
    padding: 80px 20px;
}

.login h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.login p {
    font-size: 1.2em;
    color: #555;
    max-width: 600px;
    margin: 0 auto 30px;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;

}

.login-form form {
    display: flex;
    flex-direction: column;
    color: #222;
}

.login-form label {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.login-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #222;
}

.login-form button {
    background-color: #333;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.login-form button:hover {
    background-color: #555;
}

.login p a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}

.login p a:hover {
    text-decoration: underline;
}
.product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 20px;
}

.product-image {
    flex: 1;
    text-align: center;
}

.product-image img {
    max-width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.product-image img:hover {
    transform: scale(1.1);
}

.product-info {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-info h2 {
    font-size: 2em;
    color: #333;
}

.product-info p {
    font-size: 1.2em;
    color: #555;
}

.product-info ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}

.product-info ul li {
    margin-bottom: 5px;
}

.buy-now-button {
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.buy-now-button:hover {
    background-color: #555;
}



